@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  height: 16px;
  @apply bg-green-500;
}

.app-header {
  background-color: #c6dcff;
  position: sticky;
  top: 0;
  z-index: 99;
}

body.light {
  background-color: white;
}

body.dark {
  background-color: #121212;
  color: white;
}

body.dark .app-header {
  background-color: #333333;
  color: white;
}

body.dark .footer {
  background-color: #333333;
  color: white;
}

body.dark .footer-heading {
  color: white;
}

body.dark .blog {
  background-color: black;
  color: white;
}

.close-animation{
  overflow: hidden;
  animation: close both 0.8s ;
  }
  
  @keyframes close {
    from{
      height:calc(100vh - 7.375rem)
      
    }to{
      height: 0px;
    }
    
  }

.open-animation{
overflow: hidden;
animation: open both 0.8s ;
}

@keyframes open {
  from{
    height: 0px;
    
  }to{
    height:calc(100vh - 7.375rem)
  }
  
}
body.dark .contact {
  background-color: black;
  color: white;
}

body.dark .blog-text {
  background-color: rgb(192, 192, 192);
  color: white;
}

body.dark .login,
.signup {
  background-color: #121212;
  color: white;
}

/* Add light mode styles for signup */
body.light .signup {
  background-color: white;
  color: black;
}

body.dark .contact-para {
  color: white;
}

body.dark p, li {
  color: white;
}

body.dark .guideline-subheading {
  color: #d3d3d3;
}

body.light li {
  color: #333;
}

body.dark .privacy {
  color: rgb(211, 211, 211);
}

.nav-link-active {
  @apply underline decoration-green-500 underline-offset-2 decoration-2;
}
/* Add this to your index.css or equivalent CSS file */
.scroll-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #38a169; /* Change color as needed */
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.scroll-to-top-btn:hover {
  background-color: #2f855a; /* Darken on hover */
  transform: translateY(-3px); /* Lift effect on hover */
}

.scroll-to-top-btn:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(66, 153, 225, 0.5); /* Focus ring */
}


@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

.float {
  animation: float 2s ease-in-out infinite;
}

.blog-card:hover{
  scale: 1.05;
  transition: scale ease-in-out 0.3s;
  box-shadow: 0px 0px 15px white;
  border-radius: 10px;
}

